.Admin .MuiFormControlLabel-root {
  margin-left: 0;
  margin-right: 0;
}

.Admin button {
  margin-top: 20px;
}

.Admin .button-item {
  text-align: end;
  align-items: flex-end;
  align-content: flex-end;
}
