.Navbar {
  margin-bottom: 1vw;
}

.Navbar .navbar-grid {
  text-align: center;
}

.Navbar .add-story {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 5px;
  border: 1px solid #fff;
}

.MuiTypography-root {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.makeStyles-search-1 {
  border-radius: 12px;
}

.Navbar #search-area {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  color: white;
}

.Navbar #logo-small {
  color: white;
}

.Navbar #logo-link {
  text-decoration: none;
}

/* .MuiBox-root-5 {
  border: none;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
} */

#add-icon {
  font-size: 5em;
}

#nav-grid {
  text-align: center;
}

.Navbar button {
  margin-left: auto;
}

.Navbar #toolbar {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 1500px;
}

.Navbar .story-button {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 0;
}

.Navbar #grid-item-search {
  min-width: 6rem;
}
