.MuiTypography-root {
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.makeStyles-search-1 {
  border-radius: 12px;
}

.MuiButton-root {
  color: white;
  border-radius: 15px;
}

#logo {
  color: white;
}

.Navbar #logo-small {
  color: white;
}

.Navbar #logo-link {
  text-decoration: none;
}

.Navbar button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.Navbar .MuiButton-outlined {
  border: 1px solid #fff;
}

.MuiBox-root-5 {
  border: none;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#add-icon {
  font-size: 5em;
}

#nav-grid {
  text-align: center;
}

#center-me {
  text-align: center;
  align-content: center;
  max-width: 400px;
}

.Navbar button {
  margin-left: auto;
}

#search-area {
  max-width: 25vw;
  min-width: 120px;
}

.Navbar .MuiToolbar-gutters {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

/* #toolbar {
  max-width: 45vw;
} */
