.MuiTypography-root {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.MuiAppBar-positionFixed {
  align-items: center;
}

.makeStyles-search-3 {
  margin-left: 25em;
  margin-right: 25em;
}

.MuiButton-root {
  color: white;
  border-radius: 15px;
}

#logo {
  color: white;
  margin-right: 5em;
}

.Navbar button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.Navbar .MuiButton-outlined {
  border: 1px solid #fff;
}

#Navbar {
  background-color: red;
  color: green;
}
