.SortBox form {
  padding-top: 7px;
  display: inline;
}

.SortBox .MuiOutlinedInput-root {
  height: 3em;
  width: 10em;
  background-color: white;
  display: inline;
}

.SortBox .MuiInputBase-root {
  font-size: 0.75rem;
  margin: 10px;
  display: inline;
}

.SortBox h4 {
  display: inline;
  margin-top: 70px;
  margin-left: 0;
}

.SortBox .MuiTouchRipple-root {
  margin-top: 0;
}

.SortBox #clear {
  text-decoration: underline;
  margin-top: 0;
}

.SortBox .MuiPaper-root {
  margin: 5px 25px;
}

.SortBox .MuiButton-label {
  margin-top: 16px;
}

#filter {
  margin-top: 0px;
}

.SortBox .MuiInputBase-input {
  font-size: 15px;
  height: 0;
  width: 50%;
}
