.Stats {
  border: 1px solid black;
}
.Stats h4 {
  text-align: center;
  margin: 3px 0px;
}

.Stats hr {
  margin: 0px 5px;
}

.Stats #intensity-helper {
  font-size: 0.8em;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;
}

.Stats .intensity {
  text-align: center;
  margin: auto;
}
