.StoriesSection {
  width: 60%;
  margin: auto;
}

.MuiBox-root {
  border: 1px solid rgba(63, 63, 63, 0.753);
  border-radius: 10px;
  width: 85%;
  margin-left: 0;
  margin-top: 1px;
  margin-bottom: 15px;
}

.StoriesSection-stories {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

#age-gender {
  font-weight: normal;
}

.StoriesSection h4 {
  text-align: left;
  margin-left: 3em;
  margin-bottom: 0;
}

.StoriesSection p {
  text-align: left;
  margin-left: 2.5em;
  margin-top: 0.5em;
  margin-right: 2.5em;
}

.StoriesSection .stories {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 0;
}

.StoriesSection h3 {
  text-align: left;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  /* font-weight: normal; */
  color: rgba(63, 63, 63, 0.753);
}
